.react-datepicker__input-container input {
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
  border: 1px solid #4b5563; /* Tailwind's gray-600 */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.react-datepicker {
  background-color: #1f2937 !important;
  border: 1px solid #4b5563 !important;
  color: white;
}

.react-datepicker__header {
  background-color: #111827 !important; /* gray-900 */
  border-bottom: 1px solid #4b5563;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  color: white !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f97316 !important; /* orange-500 */
  color: white !important;
}
